Source: ros-groovy-depthimage-to-laserscan
Section: misc
Priority: extra
Maintainer: Chad Rockey <chadrockey@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-image-geometry,ros-groovy-dynamic-reconfigure,ros-groovy-roscpp,ros-groovy-sensor-msgs,ros-groovy-image-transport,libgtest-dev,ros-groovy-nodelet
Homepage: http://ros.org/wiki/depthimage_to_laserscan
Standards-Version: 3.9.2

Package: ros-groovy-depthimage-to-laserscan
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-image-geometry,ros-groovy-dynamic-reconfigure,ros-groovy-roscpp,ros-groovy-sensor-msgs,ros-groovy-image-transport,ros-groovy-nodelet
Description: depthimage_to_laserscan
